    <div id="footer" class="centered">
        <p>This independent TEDx event is operated under license from TED.
        <p>&copy; 2014 &middot; <a href="http://hardmath123.github.io">Webmaster</a>
    </div>
</body>
</html>
