body {
    font-family: "Open Sans", "Helvetica", sans-serif;
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}

.clearer {
    clear: both;
}

#header {
    width: 100%;
    padding: 10px;

    background-color: rgb(214, 24, 15);
    color: white;

    margin-bottom: 50px;
}

#header h1 {
    font-family: "Helvetica Neue";
    font-weight: 200;

    margin: 0px;
    float: left;

    height:50px;
    line-height:50px;
}

sup {
    line-height: 0px;
}

#header h1 a strong {
    font-weight: bold;
}
#header h1 a {
    text-decoration: none;
}

#header .right {
    float: right;
    height:50px;
    line-height:50px;
}

#header a {
    color: white;
    text-decoration: none;
}
#header a:hover {
    color: white;
}
#header a:visited {
    color: white;
}

a {
    color: #076c85;
}
a:hover {
    color: #214b67;
}
a:visited {
    color: #076c85;
}

.centered {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.imgbreak {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: gray;
    background-position: center center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer {
    text-align: center;
    color: #555;
    font-size: 0.75em;
    padding: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .centered {
        max-width: 100% !important;
        padding: 50px !important;
    }
    body {
        font-size: 25px;
    }
    #header {
        padding: 30px;
    }
}
