@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300,600);
body {
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.clearer {
    clear: both;
}
header {
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
header img {
    height: 40px;
}
.container {
	padding: 36px 0;
	margin: auto;
}
header .container {
    padding: 20px 40px;
}

ul.nav {
    list-style: none;
    margin: 0;
}
ul.nav li {
    display: inline;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    border-radius: 4px;
}
ul.nav li:hover {
}
ul.nav li a {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}
ul.nav li a:link {
    color: #333;
    text-decoration: none;
}
ul.nav li a:visited {
    color: #333;
    text-decoration: none;
}
ul.nav li a:hover {
    color: #375e81;
    text-decoration: none;
}
ul.nav li a:active {
    color: #333;
    text-decoration: none;
}

a {
    color: #076c85;
}
a:hover {
    color: #214b67;
}
a:visited {
    color: #076c85;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
}
strong, b {
	font-weight: 600;
}
.centered {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.imgbreak {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: gray;
    background-position: center center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer {
    text-align: center;
    color: #555;
    font-size: 0.75em;
    padding: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .centered {
        max-width: 100% !important;
        padding: 50px !important;
    }
    body {
        font-size: 25px;
    }
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
