<!DOCTYPE html>
<!-- TEDx website. Hack at will. -->
<html>
    <head>
        <title>TEDxEventName</title>
        <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed.png"/>
        <link rel="shortcut icon" href="/static/favicon.png"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/base.css" type="text/css"charset="utf-8"/>
        <script src="/static/main.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="header">
            <h1><a href="/"><strong>TEDx</strong>EventName <strong>2015</strong></a></h1>
            <div class="right">
                <a href="/">Home</a> &middot;
                <a href="about.html">About</a> &middot;
                <a href="speakers.html">Speakers</a> &middot;
                <a href="sponsors.html">Sponsors</a>
            </div>
            <div class="clearer"></div>
        </div>
