<!DOCTYPE html>
<html>
    <head>
        <title>TEDxGunnHighSchool</title>
        <meta name="description" content="TEDxGunnHighSchool"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed.png"/>
        <link rel="shortcut icon" href="/static/favicon.png"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/base.css" type="text/css"charset="utf-8"/>
        <script src="/static/main.js" charset="utf-8"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <img alt="TEDx Gunn High School" src="static/w_logo.png" />
                <ul class="nav float-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="speakers.html">Speakers</a></li>
                    <li><a href="sponsors.html">Sponsors</a></li>
                </ul>
            </div>
        </header>
