{{> head }}
    <div class="centered">
        <h2>Meet the Speakers</h2>
        <p>We have some amazing speakers this year.

        {{# speakers}}
            {{name}}
        {{/ speakers}}
    </div>
{{> foot }}
