{{> head }}
    <div class="centered">
        <h2>Meet the Speakers</h2>
        <p>We have some amazing speakers this year. This is the part where we brag about them. Because we can. We need to convince you to come. I'm not sure why. This is very stressful.</p>
        <a href="http://tinyurl.com/tedxgunnpeople">Speaker Suggestion</a>
    </div>

        <div class="imgbreak" style="background-image:url('static/break5.jpg')">
        </div>

    <div class="centered">
        {{# speakers}}
            <h3>{{name}}</h3>
            <p>{{bio}}
        {{/ speakers}}
    </div>
{{> foot }}
