{{> head }}
    <div class="centered">
        <h2>The TEDxGunnHighSchool Team</h2>
        <ul class="unstyled">
          <li><b>Leadership</b></li>
          <li>President: Gabriel Alon</li>
          <li>President: Justin Kim</li>
          <li>Vice President: Giannina Yu</li>
          <li>Vice President: Kathleen Xue</li>
          <li>Tech Lead: Malcolm Jones</li>
          <li>Marketing Lead: Josh Kaplan</li>
        </ul>
        <ul class="unstyled">
          <li><b>Tech</b></li>
          <li>Kartik Chandra</li>
          <li>Samuel Winslow</li>
        </ul>
        <a href="http://tinyurl.com/gunntedx">Recruiting new members!</a>
    </div>

    <div class="imgbreak" style="background-image:url('static/break2.gif')">
    </div>
{{> foot }}
